body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url('../images/white-wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
  /* background: linear-gradient(to right, , #000) */
}

img {
  box-sizing: border-box;
  border: 1px solid #323233;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(255,255,255,0.5))
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #c3cc2b;
  box-shadow:  -1px 1px #c3cc2b, -2px 2px #c3cc2b, -3px 3px #c3cc2b, -4px 4px #c3cc2b, -5px 5px #c3cc2b;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #b63e2c;
  box-shadow:  -1px 1px #b63e2c, -2px 2px #b63e2c, -3px 3px #b63e2c, -4px 4px #b63e2c, -5px 5px #b63e2c;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
